.header.animate{
    top: -160px;
    
    
}
.header{
    top: 0px;
    transition: .5s;
}
/*menu*/
.menu-l{
    transition: .5s;
    right: 0px;
}
.menu-l.animate{
    left: -225px;
}
/*h1*/
.main-page__header{
    opacity: 1;
    transition: .4s;
    transition-delay: .5s;
}
.main-page__header.animate{
    opacity: 0;
    margin-top: 100px;
    padding-top:20px;
}
/*image*/
.main-page__bg{
    transition: .5s;
}
.main-page__bg.animate{
    right: -1000px;
}

/*text*/
.main-page__info, .main-page__quastions{
    transition: .3s;
    transition-delay: .7s;
    opacity: 1;
}
.main-page__info.animate, .main-page__quastions.animate{
    transition: .3s;
    transition-delay: .7s;
    padding-top: 20px;
    opacity: 0;
}
/*btn*/
.main-page__btn{
    opacity: 1;
    transition: .5s;
    transition-delay: .9s;
    
}
.main-page__btn.animate{
    padding-top: 20px;
    opacity: 0;
}

/*list*/
.main-page__list-item{
    right: 0px;
    opacity: 1;
    
    transition: .4s;
}
.main-page__list-item:first-child{
    transition-delay: 1.4s;
}
.main-page__list-item:nth-child(2){
    transition-delay: 1.2s;
}
.main-page__list-item:nth-child(3){
    transition-delay: 1s;
}
.main-page__list.animate .main-page__list-item{
    opacity: 0;
    right: -150px;
}